name: pytest

on:
  push:
    paths:
      - '**/*.py'
      - 'uv.lock'
      - 'pyproject.toml'
      - '.github/workflows/pytest.yaml'
  pull_request:
    paths:
      - '**/*.py'
      - 'uv.lock'
      - 'pyproject.toml'
      - '.github/workflows/pytest.yaml'

jobs:
  test:
    runs-on: ubuntu-latest
    permissions:
        checks: write
        pull-requests: write
        contents: read
        issues: read
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Set up uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Install dependencies
        run: uv sync --locked --group dev

      - name: Run pytest (verbose + JUnit with logs)
        run: |
          uv run pytest tests \
            -vv -rA --showlocals \
            --junit-xml pytest.xml \
            -o junit_family=xunit2 \
            -o junit_logging=all \
            -o junit_log_passing_tests=true

      - name: Publish Test Results
        if: always()
        uses: EnricoMi/publish-unit-test-result-action@v2
        with:
          files: pytest.xml
